<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abril">
		<style>
			news {
				font-family: 'Abril', Abril;
				font-size: 48px;
				color: blue;
			}
			texts {
				font-family: 'Abril', Abril;
				font-size: 25px;
				color: blue;
			}
		</style>
		<title>Whiteboard</title>
		<center><table><tr><news>WhiteBoard</news></tr></table></center>
		<center><small>A site written to learn AngularJS</small></center>
		<hr>
	</head>
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
	<body ng-app="myApp">

<!--		<div ng-controller="personCtrl">-->

			<b><texts>   Login</texts></b>
			<table>

			<h3 ng-show="myVar">
				<form name="log" ng-controller="logcontroller" ng-submit="loginbutton()">
				<tr>
				<td>&nbsp;&nbsp;Username: </td><td><input type=text name="user" ng-model="loginForm.username"></td>
				</tr>
				<td>&nbsp;&nbsp;Password: </td><td> <input type=password name="pass"ng-model="loginForm.password"></td><br><br>
				<tr><td><input type=submit class="btn btn-success" name="submit" value="Submit"></td></tr>
				</form>
			</table>
			</h3>
	<!--	</div>-->
		<hr style="height:10px">

		<div ng-controller="createctrl">

			<button class="btn btn-success" ng-click="toggle()"><b><u><span class="glyphicon glyphicon-user"></span>Create New User</u></b></button>
			<b ng-show="!myVar">
			<table>
				<form name="create" method="POST" action="create.php">
				<tr><td>&nbsp;&nbsp;Username: </td><th><input type=text name="user" ng-model="person.username" ng-change="check()"></th></tr>
				<tr><td>&nbsp;&nbsp;Password: </td><td><input type=password name="pass" ng-model="person.password" ng-change="check()"></th></tr><br>
				<tr><td>&nbsp;&nbsp;ReType Password: </td><td><input type=password name="pass2" ng-model="person.password2" ng-change="check()"></td></tr><br><br>

				<tr><td><span style="color:red" ng-show="error">Mismatch Found</span></tr></td>
				<tr><td><input ng-show="c" class="btn btn-success" type=submit name="Create" value="Create"></tr></td>
				</form>
			</table>
			</b>
		</div>
		<hr style="height:10px">
		
	<script type="text/javascript">
		var app = angular.module('myApp', []);
//************************************************************
		app.factory('loginFactory', function($q,$http)
		{
			console.log("here");
			var userData = {
				username: '',
				password: '',
				token: ''
			};
			var resetUserData = function()
			{
				userData.username = '';
				userData.password = '';
				userData.token = '';
			}
			return {
				login: function(Data) {
					var dfd = $q.defer();
					$http.post('login.php', Data)
						.success(function(successMsg){
							userData.username = Data.username;
							userData.token = successMsg.token;
							dfd.resolve(true);
					})
					.error(function(errorMsg)
					{
						console.log("blahlakdfla");
						console.log(Data.username);
						resetUserData();
						dfd.reject(errorMsg);
					})
					return dfd.promise;
				}, logout: function() { resetUserData();}
			}
		});
//***************************************888
		app.controller('logcontroller',function($scope,loginFactory) {
			console.log("here2");
			$scope.loginForm = {
				username: ''
				, password: ''
			}
			$scope.loginbutton = function() {
				console.log("aldk $scope.loginForm.username");
				loginFactory.login($scope.loginForm)
					.then(function(successResult)
					{
						console.log(successResult);
					}, function(errorResult) {
						console.log(errorResult);
					})
			}
		});
// ************************************************ 
		app.controller('createctrl', function($scope) {
			$scope.person = {
				username: "",
				password: "",
				password2: ""
			};
			$scope.error = false;
			$scope.myVar = true;
			$scope.c = false;
			$scope.toggle = function() {
				$scope.myVar = !$scope.myVar;
			};
			$scope.check = function() {
				if($scope.person.password2 == $scope.person.password)
				{
					$scope.error = false;
					if($scope.person.username != "" && $scope.person.password != ""){
						$scope.c = true;
					}
					else{
						$scope.c = false;
					}
				}
				else
				{
					$scope.error = true;
					$scope.c = false;
				}
			}
		});
//*****************************************************8
		app.controller('personCtrl', function($scope) {
  		$scope.person = {
      		firstName: "",
      		password: ""
  		};
  		$scope.myVar = true;
  		$scope.toggle = function() {
      		$scope.myVar = !$scope.myVar;
 		 	};
		});
	</script>

	</body>
</html>
